.post_card {
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  aspect-ratio: 1/1;
  box-sizing: border-box;
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }

  .progress {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px #e5e5ee solid;
  }
}

.post_card_uploading {
  .image {
    display: none;
  }
  
  .progress {
    display: flex;
  }
}

@media Only screen and (max-width: 640px) {
  .post_card {
    width: calc(100% - 2px);
    height: calc(100% - 2px);

    .image {
      border-radius: 0px;
    }
  }
}