.navigation_actions {
  width: 100%;
  gap: 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end; 

  .menu {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 12px 32px;
    box-sizing: border-box;
    background-color: #fff;

    .header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      .title {
        font-size: 16px;
        font-weight: 600;
      }
    }
    
    .main {
      gap: 12px;
      opacity: 0;
      width: 100%;
      display: flex;
      margin-top: 24px;
      box-sizing: border-box;
      flex-direction: column;
      transform: translateY(20px);
      animation: animation_main 300ms ease 0s 1 forwards;
    }

    @keyframes animation_main {
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}

@media Only screen and (max-width: 640px) {
  .navigation_actions {
    .menu {
      padding: 12px 24px;
    }
  }
}